.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #003399;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.preloader-logo {
  width: 100px;
  height: 100px;
  animation: zoomFade 1.5s ease-in-out forwards;
}

@keyframes zoomFade {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}